body{
	display: flex;
}

.nm1{
	display: flex;
	flex-direction: column;
	width: 100;
}
.nm2{
	display: flex;
	flex-direction: column;
	width: 100;
}
.ul1{
	background-color: gray;
}
.ul2{
	background-color: yellow;
}
.ul3{
	background-color: red;
}
.ul4{
	background-color: lightgreen;
}
.ul5{
	background-color: orange;
}
.ul6{
	background-color: lightblue;
}
.new1{
	background-color: aqua;
	display: flex;
	flex-direction: column;
}