/*universalus sektorius*/
*{
	background-color: aquamarine;
}

/*elemento sektroius*/
main{
	background-color: tomato;
}
/*ID sektorius*/
article#super{
}
.strong{
	background-color: green;
}
/*atributo selektorius*/
a[href="http://www.kitm.lt"]{
	background-color: blue;
}
body{
	background-image: url("https://pbs.twimg.com/media/CuqN-WHVUAA-hva.jpg:large");
}